@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Bitter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: Potion;
  src: url("./Potion.woff2") format("woff2"),
    url("./Potion.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: rgb(255 255 255 / 10%);
  border-radius: 5px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgb(255 255 255 / 0%) 0,
      rgb(255 255 255 / 10%) 20%,
      rgb(255 255 255 / 20%) 60%,
      rgb(255 255 255 / 0%)
    );
    animation: shimmer 3s infinite;
    animation-delay: var(--animation-delay);
    content: "";
  }
}

.skeleton-box-primary {
  position: relative;
  overflow: hidden;
  background-color: rgb(255 255 255 / 10%);
  border-radius: 5px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgb(114 76 249 / 0%) 0,
      rgb(114 76 249 / 40%) 20%,
      rgb(114 76 249 / 100%) 60%,
      rgb(114 76 249 / 0%)
    );
    animation: shimmer 3s infinite;
    animation-delay: var(--animation-delay);
    content: "";
  }
}

.skeleton-box-secondary {
  position: relative;
  overflow: hidden;
  background-color: rgb(255 255 255 / 10%);
  border-radius: 5px;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgb(250 25 139 / 0%) 0,
      rgb(250 25 139 / 10%) 20%,
      rgb(250 25 139 / 20%) 60%,
      rgb(250 25 139 / 0%)
    );
    animation: shimmer 3s infinite;
    animation-delay: var(--animation-delay);
    content: "";
  }
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
